.input-small {
    width: 300px; /* Adjust the width as needed */

}
  
mat-grid-tile {
    background: lightblue;
  }
.border-grid-tile {
    border: 1px solid #ccc; /* Add your preferred border styles */
}
  